---
import PrimaryLayout from '../Layouts/PrimaryLayout.astro';
import FeaturedArticle from '../components/FeaturedArticle.astro';
---

<PrimaryLayout title="Homepage">
	<h1 class="visually-hidden">The W.</h1>
	<FeaturedArticle />
	<!-- three-cols -->
		<!-- Featured article -->
		<!-- New articles -->
	<!-- three-cols -->
		<!-- Popular-articles -->
</PrimaryLayout>
