---
const featuredArticleTitle = "The Bright Future of Web 3.0?";
---

<h2 class="visually-hidden">Featured article</h2>
<article>
  <img src="/images/image-web-3-desktop.jpg" alt="">
  <h3>{featuredArticleTitle}</h3>
  <div>
    <p>
      We divide into the next evolution of the web claims to put the power of the platforms back in the hands of the people. But it is really fulfilling its promise?
    </p>
    <a href="#" class="button">
      Read More <span class="visually-hidden">about {featuredArticleTitle}</span>
    </a>
  </div>
</article>